<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Willkommen, @name</h2><br>
    <br>
    Herzlichen Dank, dass Sie einen Account bei uns angelegt haben.<br>
    <br>
    Sie können jetzt auf <a href="https://innovation.gruenderviertel.de/projekt/neu">https://innovation.gruenderviertel.de/projekt/neu</a> ein Projekt anlegen, um ihre Ideen und Probleme mit der Community zu teilen.<br>
    <br>
    <br>
    <p>Freundliche Grüße,<br>
    Ihr Open-Innovation Team</p>
  </body>
</html>