<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Sehr geehrter Gründerviertel-Teilnehmer,</h2><br>
    <br>
    wenn Sie diese Email erhalten, dann wurde Ihr Passwort durch eine Anfrage zurückgesetzt.<br>
    <br>
    Ihr neues Passwort lautet <b><u><%= @pw %></u></b> ; Sie können dies jederzeit in ihrem Accountprofil
    ändern.<br>
    <br>
    <br>
    <p>Freundliche Grüße,<br>
    Ihr Open-Innovation Team</p>
  </body>
</html>