<!DOCTYPE html>
<html>
  <head>
    <title>Gruenderviertel</title>
    <meta charset="utf-8" />
    <meta name="fragment" content="!">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/vendor.bundle.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/app.bundle.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/font-awesome.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/1.1.0/toaster.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/summernote.css" />
</head>
<body>
  <div class="container-fluid root_container">
    <div ui-view="header"></div>
    <toaster-container></toaster-container>
    <div ui-view="body", autoscroll="true"></div>
    <div ui-view="footer"></div>
  </div>
  <script type="text/javascript" src="assets/javascripts/base-min.js"></script>
  <script type="text/javascript" src="assets/javascripts/vendor-bundle.js"></script>
  <script type="text/javascript" src="assets/javascripts/summernote.js"></script>
  <script type="text/javascript" src="assets/javascripts/app-bundle.js"></script>
  <%= js_env %>
  <script type="text/javascript">
    window.onload = angular.bootstrap(document, ['gruenderviertel']); 
  </script>
  </body>
</html>
